* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  padding: 0;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
  /* background-color: #161515; */
  background-image: url("./Design/bg-img.jfif");
  background-attachment: fixed;
  /* background: white; */
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  font-family: "Montserrat", sans-serif;
}

/* Section */
.scoreboard {
  /* padding-top: 2%; */
}
.card {
  margin: 20px;
  border-radius: 15px;
  border: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.9);
}
.img-1 {
  display: block;
  border-radius: 15px;
}
.img-2 {
  display: none;
}

/* ---------Content----------- */
.content {
  height: 100%;
}

.content-box {
  height: 100%;
}
.score {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  font-family: Roboto;
  font-weight: 900;
}
.clan-title {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  /* font-family: Roboto; */
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
}

/* LOGOs */
.logo {
  width: 200px;
  color: white;
}

/* ---------Notice---------- */
.notice-box {
  margin: 0 auto;
  background-color: #191818;
  width: 85%;
  margin-top: 8%;
  border-radius: 15px;
  margin-bottom: 10px;
  z-index: 10;
  opacity: 70%;
}
.notice-header {
  color: white;
  display: inline-block;
  margin: 5% 2% 2%;
}
.notice-content {
  margin: 2% 2% 5%;
}

.notice-content a,
a::before,
a::after {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  transform: scale(1);
  transition: all 0.2s;
}

.notice-content a:hover {
  transform: scale(1.01);
  color: white;
}

/* -------Dark Overlays---------- */
.overlay {
  background: rgb(0, 0, 0);
  opacity: 70%;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.main-overlay {
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background: rgb(0, 0, 0);
  opacity: 80%;
}

.clan-logo {
  height: 80%;
  position: absolute;
  opacity: 20%;
}

.card:hover {
  transform: scale(1);
}

.clans {
  z-index: 10;
}

.clan-points {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.news-content {
  background: #131313e7;
  border-radius: 18px;
  padding: 30px 50px;
}

.news {
  padding: 0px 20px;
  position: relative;
  z-index: 100;
}

.event-header {
  z-index: -1;
}
.event-head-js {
  z-index: 100;
  color: white;
}
.news a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  transform: scale(1);
  transition: all 0.2s;
  padding: 10px;
}

.news a:hover {
  color: white;
}

.display-4 {
  font-weight: 900;
}
